
.principal{margin-top: 30px;}
/*.es{background-color: #c3c3c3;}

.me{background-color: #5f5f;}

.di{background-color: #f4f4;}
*/
img{height: 70px;}
#pesquisar{margin-top: 20px;}
.dados{margin-top: 28px;}
#navbar{margin-top: 30px;}
#esquerda{
	padding: 20px;

}
#direita{
	margin-top: 3px;

}
#corpo{
	margin-top: 30px; 
}
.login{
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid;
	border-radius: 5px;
}

h4{
	padding: 10px;
	border-bottom: 1px solid;
}
footer{
	color: #ffffff;
	font-size: 12px;
	background-color: #000000;
	position: fixed;
    bottom:0;
    left:0;
    width: 100%
}

@font-face {
     font-family: helveticaneue;
     src: url('HelveticaNeueLTStd-UltLt.otf');
}