header{margin-top: 20px}

/*#div_logo{background-color: blue}*/
.logo{width: 220px;}
.logo_min{display: none;}

/*#div_search{background-color:darkgreen}
#div_dados{background-color: darkorchid}*/
#form-search{}
#search{margin-top: 20px;}
.dados{ margin-top: 28px;}

#menu{margin-top: 20px;}
#menu_mobile{display: none;}

@media (max-width: 576px) {
    header{margin-top: 0;}
    #menu{display: none;}
    #menu_mobile{display: block}
    
    .logo{display: none;}
    .logo_min{
        margin-top: 20px;
        width: 220px;
        display: block;}

}